<h1>Animal Shelter</h1>
<% for animal in @animals %>
<p>Name: <%= animal.name() %></p>
<p>Age: <%= animal.age() %></p>
<p>Species: <%= animal.species() %></p>
<p>Admission Date: <%= animal.admission_date() %></p>
<hr>
<% end %>
