<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animal Shelter</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">

    <link rel="icon" href="/public/pets_home.gif" />

  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/animal">Animal Records</a>
        </li>
        <li>
            <a href="/animal/new">Animal Admission</a>
        </li>
        <li>
            <a href="/owner">Owner Records</a>
        </li>
        <li>
            <a href="/owner/new">Create Owner Record</a>
        </li>
      </ul>
    </nav>
<%= yield  %>
  </body>
</html>
