<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animal Shelter</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">

 <link rel="icon" href="/images/hazard.png" />

  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/animal">Animal Records</a>
        </li>
        <li>
            <a href="/animal/new">Create Animal Record</a>
        </li>
        <li>
            <a href="/customer">Customer Records</a>
        </li>
        <li>
            <a href="/customer/new">Create Customer Record</a>
        </li>
      </ul>
    </nav>
<%= yield  %>
  </body>
</html>
