<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/animal">Animal Records</a>
        </li>
        <li>
            <a href="/animal/new">Create Animal Record</a>
        </li>
      </ul>
    </nav>
<%= yield  %>
  </body>
</html>
