
p {
  color: blue;
  text-align: center;
}

body {
  background: #D8EDFF;
}

h1 {
  color: purple;
  text-align: center;
}

h2 {color: purple;}

/* main-table {
  border-collapse: collapse;
} */

/* main-table, th, td {
  border: 1px solid black; padding: 15px; text-align: left;
} */

img {
  width: 920;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav{
  justify-content: center;
  text-align: center
}
