<h2>Owner Records</h2>

<table>
  <tr>
    <th>First Name</th>
    <th></th>
    <th>Last Name</th>
    <th></th>
  </tr>
  <% for owner in @owners %>
  <tr>
    <td><%= owner.first_name %>
    <td></td>
    <td><%= owner.last_name %>
    <td></td>
    <td><a href="/owners/<%= owner.id %>/edit">Edit</a></td>
    <td></td>
    <td><a href="/owners/<%= owner.id %>/delete">Remove</a></td>
    <td></td>
  </tr>
  <% end %>
</table>
